langchain
langchain-groq
flask
sentence-transformers
pypdf
pymupdf 
langchain-google-genai
pinecone-client
langchain-pinecone
langchain-community
langgraph
langchain-tavily
langchain-text-splitters
-e .